@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --muted-foreground: #4E4E4E;
}

@theme inline {
/* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-element: #189BFF;

  /* font families */
  --font-riot: var(--font-riot);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

/* hide scroll bar for all modern browsers */
/* Hide scrollbar for Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/old Edge */
html {
  -ms-overflow-style: none;
}